<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>check</title>
</head>
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<body>
<div id="app">
    <input type="checkbox" v-model="checked" value="html" id="html">
    <label for="html">HTML</label>
    <br>
    <input type="checkbox" v-model="checked" value="css" id="css">
    <label for="css">CSS</label>
    <br>
    <input type="checkbox" v-model="checked" value="js" id="js">
    <label for="js">JS</label>
    <br>
    <p>选择的项是: {{ checked }}</p>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            checked: []
        }
    })


</script>


</body>
</html>